@tailwind base;
@tailwind components;
@tailwind utilities;
.rotating-object {
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.sliderBlock {
    height: 1400px;

}

.jumping-button {

    cursor: pointer;
    animation: jump 0.3s infinite alternate;
}
@keyframes jump {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-30px);
    }
}


@keyframes leftMove {
    from {
        transform: translateX(0);
        background: #b0b0b0;
    }
    to {
        transform: translateX(-400px);
        background: #e7b87e;
    }
}

.shadow{
    background-color: #9ca3af;
    animation: leftMove 2s infinite alternate;
    padding: 15px;
}
.h-2{
    height: 2px;
}
.pb-50{
    padding-bottom: 500px;
    z-index: 3;
}
#quiz{
    display: none;
}
#quiz2{
    display: none;
}
#quiz3{
    display: none;
}
#quizFinish{
    display: none;
    z-index: 4;
}
input{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 48px;
    border: solid 1px gray;

}